body {
font-family: 'Poppins', sans-serif;
background-color : rgb(241,240,240);
margin: 0;
}

body span {
	margin:0px;
	padding: 0px;
	font-style: italic;
}

body i{
	margin: 0vw 1vw;
}

#sidebar{
	background: rgb(0,128,255);
	float: left;
	width: 20%;
	height: 100%;
	position: fixed;
}

#profile{
		width: 50%;
		height: 50%;
		margin: auto;
		margin-top: 10%;
		display: block;
		border: solid 1px white;
}

#name{
		color: white;
		text-align: center;
}

.titre{
	text-align: center;
	color: rgb(0,128,255);
}

.sections{
	float: right;
	width: 80%;
}

.date_exp{
	margin-top: 3vh;
	margin-bottom: 0vh;
}

.section-content{
	border: solid 2px rgb(0,128,255);
	border-radius: 15px;
	margin : 2vh 5vh 8vh 5vh;
	padding: 10px;
}

.lbl {
    text-align: left;
    width: 100px;
}

/* NAV BAR */

nav{
	margin-top: 0px !important;
}

nav ul {
list-style-type: none;
display: inline-block;
width: 100%;
margin-top: 5vh;
}

nav li {
	margin-bottom: 3vh;
}

nav a {
 text-decoration: none;
 color: white;
}

nav i {
	color: white;
}

.logo1{
  margin-left: 7vw;
	width: 30px;
	height: auto;
}

.logo2{
  margin-left: 1vw;
	width: 30px;
	height: auto;
}

.gif{
	float: right;
	margin-right: 5vh;
	width: 350px;
	height: auto;
	border-radius: 15px;
}
/* FOOTER */

.footer {
  display: flex;
	float: right;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0,220,255);
	width: 80%;
	height: 10vh;
	z-index: 1;
	align-content: space-between;
  flex-direction: row;
}

.footer h4, .footer span {
	padding-right: 15px;
	padding-left: 15px;
	margin: 0;
}

/* Animation */
p {
  animation-duration: 3s;
  animation-name: slidein;
}

nav.fill ul li a {
  position: relative;
}

nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  background: white;
  height: 1px;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}

nav.fill ul li a:hover {
  color: rgb(0,125,255);
  z-index: 1;
}

nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
	}
}

 @keyframes fill {
	  0% {
	    width: 0%;
	    height: 1px;
	  }
	  50% {
	    width: 100%;
	    height: 1px;
	  }
	  100% {
	    width: auto;
	    height: 3vh;
	    background: white;
	  }
}
